.spinner-center {
	width: 100%;
	height: 90%;
	background-position: center;
}

.nav-tab a {
	padding: 6px 10px;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	color: #555;
}

.column-photo_id {
	width: 60px;
}